# API Key for Semantic Scholar, more details here: https://www.semanticscholar.org/product/api%2Ftutorial
API_KEY = "yourkeyfromsemanticscholar"

# Email for Crossref, more details here: https://www.crossref.org/documentation/retrieve-metadata/rest-api/
EMAIL = "you@youremail.com"
